*{
	font-family:Montserrat,sans-serif;
}

a{
	display: block;
	font-weight: bold;
	color:white;
	background: blue;
	text-decoration: none;
	padding:12px;
	margin:10px;
	width: 200px;
	text-align: center;

}
a:hover{
	background: red;
	
}
a:active{
	background:green;
	border: 3px solid orange;
}
