*{
	font-family:Montserrat,sans-serif;
}
a{
	display: inline-block;
	font-weight: bold;
	color:white;
	background: blue;
	text-decoration: none;
	padding:12px;
	border-radius: 50px;

	
}
a:hover{
	background: red;
	border: 3px solid black;
}
